html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#content-wrapper {
  min-height: 100%;
  /* sticky footer */
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}

footer {
  box-sizing: border-box;
  height: 70px;
  padding-top: 35px;
}

.application {
  background-color: #e0e0e0;
}

.applicationbar.dx-toolbar {
  color: #fff;
  background-color: #0d6efd;
}

.menubutton > .dx-button-content > .dx-icon {  
  color: #fff;  
}

.menubutton > .dx-button-content > .dx-button-text {  
  color: #fff;  
}

.dx-field > .dx-field-label {
  width: 20%;
}

.dx-field > .dx-field-value {
  width: 80%;
}

td > .dx-state-readonly:after {
  border-bottom: none !important
}


.digitalfunkowl {
  position: relative;
  top: 0px;
  display: inline-block;
  height: 24px;
  width: 44px;
  vertical-align: middle;
  background-image: url(./css/digitalfunkowl.png);
  background-size: 100%;
}
